.admin-header {
  background-color: #fff;
  border-bottom: 1px solid #e5e7eb;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  padding: 16px 0;
}

.admin-container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin-left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.admin-title {
  font-size: 24px;
  font-weight: 700;
  color:  #2563eb;
}

.badge {
  background-color: #d1fae5;
  color: #065f46;
  font-size: 13px;
  font-weight: 500;
  padding: 4px 10px;
  border-radius: 12px;
}

.admin-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.site-button {
    position: relative;
    overflow: hidden;
    background-color: #fff;
    color: #1f2937;
    border: 1px solid #d1d5db;
    padding: 8px 14px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 6px;
    border-radius: 8px;
    cursor: pointer;
    transition: color 0.3s ease, border-color 0.3s ease;
    z-index: 0;
}

.site-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #7c3aed, #2563eb);
  transition: all 0.3s ease;
  z-index: -1;
}

.site-button::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.15);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}

/* Наведение — анимация градиента */
.site-button:hover::before {
  left: 0;
}

.site-button:hover::after {
  opacity: 1;
}

.site-button:hover {
  color: white;
  border-color: #7c3aed;
}


.icon {
  width: 16px;
  height: 16px;
}

.admin-user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 34px;
  height: 34px;
  background: linear-gradient(to right, #7c3aed, #2563eb);
  color: white;
  font-weight: 600;
  font-size: 14px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.username {
  font-size: 14px;
  font-weight: 500;
  color: #374151;
}

