.ContactImg{
    width: 48px;
    height: 48px;
    background-color: #7769F6;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ContactTable{
    width: 350px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.Conn{
    display: flex;
    width: 288px;
    height: 40px;
    flex-direction: column;
    justify-content: space-between;
}

.ContactTable h3{
    font-size: 16px;
    color: #FFFFFF;
}

.ContactTable p{
    font-size: 16px;
    color: #D1D5DB;
}